NODE_ENV=development
LOG_LEVEL=info

# Discord
DISCORD_TOKEN=
DISCORD_CLIENT_ID=

# AI
AI_BASE_URL=
AI_API_KEY=
AI_MODEL=
AI_WEB_SEARCH_MODEL=exa
AI_WEB_SEARCH_MAX_RESULTS=5
AI_WEB_FETCH_MODEL=exa

# API
API_HOST=0.0.0.0
API_PORT=3000
